@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#hero {
  background-image: url('/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-title {
  text-shadow: 2px 2px white;
}

.swiper-button-prev, .swiper-button-next {
  color: white !important;
}